{
    "printWidth": 120,
    "proseWrap": "never",
    "arrowParens": "always",
    "endOfLine": "lf",
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.html", "**/*.svg"],
            "options": {
                "singleQuote": false
            }
        }
    ],
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^next$",
        "^react$",
        "<BUILTIN_MODULES>",
        "<THIRD_PARTY_MODULES>",
        "<TYPES>^[next]",
        "<TYPES>(react)",
        "<TYPES>^[@/types]",
        "<TYPES>^[@/api]",
        "<TYPES>",
        "<TYPES>^(..)(/*)",
        "<TYPES>^(.)(/*)",
        "<TYPES>^(./types)",
        "^(./context)(/.*)$",
        "^(..)(/.*)(store)$",
        "^(.)(/.*)(/store)$",
        "^(./store)$",
        "^(@/context)(/.*)$",
        "^(..)(/.*)(context)(/.*)$",
        "^(.)(/.*)(/context)(/.*)$",
        "^(@/hooks)(/.*)$",
        "^(..)(/.*)(hooks)(/.*)$",
        "^(.)(/.*)(/hooks)(/.*)$",
        "^(./hooks)(/.*)$",
        "^(@/modules)(/.*)$",
        "^(@/utils)(/.*)$",
        "^(..)(/.*)(utils)(/.*)$",
        "^(.)(/.*)(/utils)(/.*)$",
        "^(./utils)(/.*)$",
        "^(@/api)(/.*)$",
        "^@/constants$",
        "^(..)(/.*)(constants)$",
        "^(.)(/.*)(/constants)$",
        "^(..)(/.*)(constants)(/.*)$",
        "^(.)(/.*)(/constants)(/.*)$",
        "^(./constants)$",
        "^@/schemas$",
        "^(..)(/.*)(schemas)$",
        "^(.)(/.*)(/schemas)$",
        "^(./schemas)$",
        "^(@/components)(/.*)$",
        "^(..)(/.*)(components)(/.*)$",
        "^(.)(/.*)(/components)(/.*)$",
        "^(@/ui)(/.*)$",
        "^(./components)(/.*)$",
        "^(@/icons)(/.*)$",
        "^(@/styles)(/*)$",
        ".css$"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderTypeScriptVersion": "5.0.0"
}
